body, html {
  margin: 0;
  padding: 0;
}



#cards {
    background-image: url('/resources/background/background.jpg');
    background-size: cover;
    height: 100%;
    /* Otras propiedades de estilo para el body */
  }

  .heroCard{
    background-color:rgba(140, 140, 140, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }


  .alignMas{
    text-align: end;
  }

  /*SearchPage*/
  .backSearch{
    background-image: url('/resources/background/search.jpg');
    background-size: cover;
    height: 100vh;
    
    
   
  
  }
  
  h1{
    color: rgba(230, 136, 12, 0.506);
  }
  .backLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/resources/background/login.jpg');
    background-size: cover;
    height: 100vh;
  }

  .container{
    display: flex;
    width: 350px;
    height: 300px;
    flex-direction: column;
    background-color: rgba(30, 31, 31, 0.543);
    border-radius: 15px;
   
  }
  .buttonLogin{
   margin: 120px 0 0 0;
   color: black;

  }
  
  
  